body{
    margin: 40px auto;
    width: auto;
    /* background-image: url("../static/img/zio.png"); */
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
/* -------------------------------------- */
ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
ol ol{
    margin: 0 0 0 2em;		
}
/* -------------------------------------- */
#rounded-list li{
    width: 650px;
}	
#bundle{
    padding-left: 240px;
}
#rounded-list a{
    position: relative;
    width: 650px;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background:#bdbebd;
    color: black;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;	
}
#rounded-list a:hover{background: #eee;}
#rounded-list a:hover:before{
    -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);	
}
#rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;	
    left: -1.3em;
    top: 50%;
    margin-top: -1.1em;
    background: #87ceeb;
    height: 2.25em;
    width: 2.25em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#rounded-list{
    text-align: left;
}
h1{
    color: #87ceeb;
    font-weight: bold;
}
.submenu{
    position:relative;
    width:100%;
    height:100%;
    z-index: 1;
}
.submenu li>a{background :#D3D3D3;}
.submenu2{
    position:relative;
    width:100%;
    height:100%;
    z-index: 1;
    }
.submenu2 li>a{background:#e9e9e9;}
span {color:black}

/* modal */
#modal {position: fixed; left:0; top:0; width: 100%; height: 100%; transform: scale(0); z-index: 1;}
#modal .modal-bg {background: rgba(0,0,0,0.7); display:flex; align-items: center; justify-content: center; height: 100%; }
#modal .modal-bg .modal-cont {position:relative; background: #fff; padding: 40px; max-width: 500px; display: inline-block;}
#modal .modal-bg .modal-cont h2 {font-size: 30px; margin:0;}
#modal .modal-bg .modal-cont p {font-size: 18px; }
#modal .modal-bg .modal-cont .close {position: absolute; top: 0; right:0; margin-right: 5px; margin-top: 5px; padding: 6px; background: #87ceeb; border-radius: 50%; }
#modal .modal-bg .modal-cont .close:hover{background-color: blue;}
#modal .modal-bg .modal-cont .close svg {width: 24px; fill: #fff; vertical-align: top;}


#modal.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.one .modal-bg .modal-cont {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

#modal.one.out {
    transform: scale(1);
    animation: unfoldOut 1s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}
#modal.one.out .modal-bg .modal-cont {
    transform: scale(0);
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.85, 0.44, 1) forwards;
}

@keyframes unfoldIn{
    0% {transform: scaleY(0.005) scaleX(0);}
    50% {transform: scaleY(0.005) scaleX(1);}
    100% {transform: scaleY(1) scaleX(1);}
}
@keyframes unfoldOut{
    0% {transform: scaleY(1) scaleX(1);}
    50% {transform: scaleY(0.005) scaleX(1);}
    100% {transform: scaleY(0.005) scaleX(0);}
}
@keyframes zoomIn {
    0% {transform: scale(0);}
    100% {transform: scale(1); }
}
@keyframes zoomOut {
    0% {transform: scale(1);}
    100% {transform: scale(0); }
}


@media(max-width: 360px){
    body{
        background-image: none;
        width:auto;
    }
    #rounded-list li{
        width: 320px;
    }
    #rounded-list a{
        width: 320px;
    }	
    /* #rounded-list{
        float: none;
        width: auto;
        padding: 10px;
    } */
    #bundle{
        padding-left: 0px;
    }
    .submenu{right:23px;}
    .submenu2{right:20px;}
    #title{
        text-align: center;
    }
    #search_var{width:100px;}
    #input_search{ width:100px;}
}
@media(max-width:990px){
    #bundle{
        padding-left: 200px;
    }
}
@media(max-width:960px){
    #bundle{
        padding-left: 170px;
    }
}
@media(max-width:930px){
    #bundle{
        padding-left: 140px;
    }
}
@media(max-width:900px){
    #bundle{
        padding-left: 110px;
    }
}
@media(max-width:860px){
    #bundle{
        padding-left: 70px;
    }
}
@media(max-width:830px){
    #bundle{
        padding-left: 40px;
    }
}
@media(max-width:800px){
    #bundle{
        padding-left: 30px;
    }
}
@media(max-width:760px){
    #bundle{
        padding-left: 20px;
    }
}
@media(max-width:730px){
    #bundle{
        padding-left: 10px;
    }
}
@media(max-width:700px){
    #bundle{
        padding-left: 10px;
    }
    #rounded-list a{
        width: 600px;
    }
    #rounded-list li{
        width: 600px;
    }	
}
@media(max-width:660px){
    #bundle{
        padding-left: 10px;
    }
    #rounded-list a{
        width: 570px;
    }
    #rounded-list li{
        width: 570px;
    }	
}
@media(max-width:630px){
    #bundle{
        padding-left: 10px;
    }
    #rounded-list a{
        width: 540px;
    }
    #rounded-list li{
        width: 540px;
    }	
}
@media(max-width:600px){
    #bundle{
        padding-left: 10px;
    }
    #rounded-list a{
        width: 500px;
    }
    #rounded-list li{
        width: 500px;
    }	
}
@media(max-width:560px){
    #bundle{
        padding-left: 10px;
    }
    #rounded-list a{
        width: 470px;
    }
    #rounded-list li{
        width: 470px;
    }	
}
@media(max-width:540px){
    #bundle{
        padding-left: 10px;
    }
    #rounded-list a{
        width: 430px;
    }
    #rounded-list li{
        width: 430px;
    }	
}
@media(max-width:520px){
    #bundle{
        padding-left: 10px;
    }
    #rounded-list a{
        width: 400px;
    }
    #rounded-list li{
        width: 400px;
    }	
}
@media(max-width:470px){
    #bundle{
        padding-left: 10px;
    }
    #rounded-list a{
        width: 370px;
    }
    #rounded-list li{
        width: 370px;
    }	
}
@media(max-width:430px){
    #bundle{
        padding-left: 0px;
    }
    #rounded-list a{
        width: 430px;
    }
    #rounded-list li{
        width: 430px;
    }	
}
@media(max-width:400px){
    #bundle{
        padding-left: 10px;
    }
    #rounded-list a{
        width: 320px;
    }
    #rounded-list li{
        width: 320px;
    }	
}


.openbtn {
    display: inline-block;
    border-radius:10px 10px 10px 10px;
    border : 1px solid skyblue;
    background-color:#eee;
    color:black;
    padding:5px;
    margin-left:3px;
    cursor :pointer;
}
.gobtn {
    display: inline-block;
    border-radius:10px 10px 10px 10px;
    border : 1px solid skyblue;
    background-color:#eee;
    color:black;
    padding:5px;
    margin-left:3px;
    cursor :pointer;
}
.openbtn:hover{
    background-color:white;
}
.gobtn:hover{
    background-color:white;
}
input:focus {outline:none;}
/* 검색 */
input:-ms-input-placeholder{color:#a8a8a8;}
input::-webkit-input-placeholder{color:#a8a8a8;}
input::-moz-placeholder{color:#a8a8a8;}
#search_var{margin-right:10px;height:40px; width:330px;border:1px solid; background: #ffffff;}
#input_search{font-size: 16px;height: 38px; width:260px; padding:10px; border:0px; outline:none; float:left;}
#search_btn{width:50px; height:100%; border: 0px; background:skyblue;outline:none;float:right; cursor:pointer;}