<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Information and Form</title>
	
	<!--JQUERY-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script 
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="../static/css/user-form.css"
		th:href="@{/css/user-form.css}">
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
	        $('#userList').DataTable();
	    } );
	</script>
</head>
<body>
	<div class="container">
	<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
		<ul class="nav nav-tabs justify-content-end">
			<li class="nav-item">
			<a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">List</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
				<div class="card">
					<div class="card-header">
						<h4>Roster</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive" style="overflow: auto;">
							<table id="userList" class="table table-bordered table-hover table-striped" style="white-space: nowrap;">
								<thead class="thead-light">
								<tr>
									<th scope="col">TransSeq</th>
									<th scope="col">FromSaupjaRegN</th>
									<th scope="col">FromSaupjangNo</th>
									<th scope="col">FromSaupjaName</th>
									<th scope="col">FromDaepyoNam</th>
                                    <th scope="col">FromSaupjangAd</th>
                                    <th scope="col">FromUptae</th>
                                    <th scope="col">FromJongmok</th>
                                    <th scope="col">FromEmailAddr1</th>
                                    <th scope="col">ToSaupjaRegNo</th>
									<th scope="col">ToSaupjangNo</th>
									<th scope="col">ToSaupjaName</th>
									<th scope="col">ToDaepyoName</th>
									<th scope="col">ToSaupjangAddr</th>
                                    <th scope="col">ToUptae</th>
                                    <th scope="col">ToEmailAddr1</th>
                                    <th scope="col">ToEmailAddr2</th>
                                    <th scope="col">HomeTaxApprNo</th>
                                    <th scope="col">RegDate</th>
									<th scope="col">AmtUnc</th>
									<th scope="col">AmtTax</th>
									<th scope="col">EditSayoo</th>
									<th scope="col">AmtTot</th>
                                    <th scope="col">AmtCash</th>
                                    <th scope="col">AmtSupyo</th>
                                    <th scope="col">AmtUEum</th>
                                    <th scope="col">AmtMisu</th>
                                    <th scope="col">GubunRequPay</th>
                                    <th scope="col">FlowProcYN</th>
                                    <th scope="col">SyncIndex</th>
                                    <th scope="col">CorpCode</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
									{% for i in all_data%}
										<tr>
											<td scope="row">{{i.TransSeq}}</td>
                                            <td>{{i.FromSaupjaRegN}}</td>
											<td>{{i.FromSaupjangNo}}</td>
											<td>{{i.FromSaupjaName}}</td>
											<td>{{i.FromDaepyoNam}}</td>
											<td>{{i.FromSaupjangAd}}</td>
											<td>{{i.FromUptae}}</td>
											<td>{{i.FromJongmok}}</td>
											<td>{{i.FromEmailAddr1}}</td>
											<td>{{i.ToSaupjaRegNo}}</td>
											<td>{{i.ToSaupjangNo}}</td>
											<td>{{i.ToSaupjaName}}</td>
											<td>{{i.ToDaepyoName}}</td>
											<td>{{i.ToSaupjangAddr}}</td>
											<td>{{i.ToUptae}}</td>
											<td>{{i.ToEmailAddr1}}</td>
											<td>{{i.ToEmailAddr2}}</td>
											<td>{{i.HomeTaxApprNo}}</td>
											<td>{{i.RegDate}}</td>
											<td>{{i.AmtUnc}}</td>
											<td>{{i.AmtTax}}</td>
											<td>{{i.EditSayoo}}</td>
											<td>{{i.AmtTot}}</td>
											<td>{{i.AmtCash}}</td>
											<td>{{i.AmtSupyo}}</td>
											<td>{{i.AmtUEum}}</td>
											<td>{{i.AmtMisu}}</td>
											<td>{{i.GubunRequPay}}</td>
											<td>{{i.FlowProcYN}}</td>
											<td>{{i.SyncIndex}}</td>
											<td>{{i.CorpCode}}</td>
                                            
											<td>
												<a href="#" onclick="fEdit('{{i.idx}}','r{{i.FirstName}}','{{i.LastName}}','{{i.UserName}}','{{i.Email}}')"><i class="fas fa-edit"></i></a> | <a style="cursor: pointer;"id ="delete" onclick="fDel('{{i.idx}}')"><i class="fas fa-user-times"></i></a>
											</td>
										</tr>
									{%endfor%}
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
			
		
			
		</div>
	</div>
</div>
<script>
	// function fDel(uid){
	// 	if (confirm(uid+"를 정말로 삭제하시겠습니까?")==false) return;
	// 	location.href = "/delete/"+uid;
	// }

	// function fEdit(idx,FirstName,LastName,UserName,Email){
	// 	var frm = document.Edit;
	// 		frm.idx.value = idx;
	// 		frm.FirstName.value = FirstName;
	// 		frm.LastName.value = LastName;
	// 		frm.UserName.value = UserName;
	// 		frm.Email.value = Email;
	// 	document.getElementById('form-Edit-tab').click();
	// }
</script>
</body>
</html>